html,
body {
  width: 100%;
  height: 100%;
}

#app {
  width: 100%;
  height: 100%;
}

.excel-import-layout {
  height: 100%;
  width: 100%;
  overflow: hidden;
}

.header {
  display: flex;
  align-items: center;
  justify-content: center;
}

.content {
  flex: 1;
  min-height: 0 !important;
  overflow: hidden;
  /* overflow-y: scroll; */
}

.footer {
  margin-top: 24px;
  display: flex;
  align-items: center;
  justify-content: end;
}

.preview-content {
  width: 100%;
  height: 100%;
  position: relative;
}

.spin-wrapper {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}
